.nav a, nav span{/*background-color:#16AFFF;*/
  /*background-color: #D0FFFF;*/
  text-decoration:none;
  /*color:#FFFF00;*/
  color: #008CC7;
  display: inline-block;
  font-size: 35px;
  font-family: Impact, Charcoal, sans-serif;
  border-radius: 2px;
  padding: 5px 3px 5px 5px;
  line-height: 1;
  margin: 0;
}
.nav a:hover{
  /*background-color:#2B78FF; border-color: yellow;
  box-shadow: 2px 3px 1px #0056FF;*/
  background-color: #2321BC;
}
nav{
  text-align: left;
  /*padding: 10px;*/
}
#grad{
background: #232198;
/*background: -webkit-linear-gradient(#011E72, #232198, #F6610D);
background: -o-linear-gradient(#011E72, #232198, #F6610D);
background: -moz-linear-gradient(#011E72, #232198, #F6610D);
background: linear-gradient(#011E72, #232198, #F6610D);*/
width: 100%;
/*padding: 10px 0;*/
}
.selected{/*background-color:#194491;*/
  text-decoration:none;
  /*color:#FFFF00;*/
  color: #0050DE;
  display: inline-block;
  font-size: 35px;
  font-family: Impact, Charcoal, sans-serif;
  /*background-color: #62CFFF;*/
}
h1{
  font-size:50px;
  color: #FFFF00;/*Previous: 25FFFC*/
  font-family: "Comic Sans MS", cursive, sans-serif;
  line-height: .2;
}
.games{color: white; font-size: 30px; background-color:aqua; border: 1px solid black; text-decoration:none;}
.games:hover{background-color:lightBlue; border-color: yellow;}
.scratchs{ display: block; width: 400px; margin: 5px auto;}
a{margin-bottom:5px;}
span{cursor: pointer;}
body{
  background: #F24704;
  background: -webkit-linear-gradient(#F67511, #F24704, #A63403) fixed;  background: -o-linear-gradient(#F67511, #F24704, #A63403) fixed;
  background: -moz-linear-gradient(#F67511, #F24704, #A63403) fixed;
  background: linear-gradient(#F67511, #F24704, #A63403) fixed;
  text-align: center;
  line-height: 1;
  margin: 0;
}
.buttons div{
padding-bottom: 10px;
  }
.buttons a, .buttons span{
padding: 2px;

  font-family: Impact, Charcoal, sans-serif;
}
.buttons a{
text-decoration: none;
color: white;
background-color: #a2cfff;
font-size: 30px;
border-radius: 5px;
}
.buttons span{
text-decoration: none;
color: white;
background-color: #3087DF;
font-size: 30px;
border-radius: 5px;
}
.buttons a:hover{
  border-bottom: 5px solid darkblue;
}
.text{
padding-left: 50px;
padding-right: 50px;
font-size: 20px;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.nav2{
 background-color: #a2cfff;
}

.nav2 a, .nav2 span{
  text-decoration:none;
  color: #0069C7;
  display: inline-block;
  font-size: 25px;
  font-family: Impact, Charcoal, sans-serif;
  border-radius: 2px;
  padding: 5px 3px 5px 5px;
  line-height: 1;
  margin: 0;
}

.nav2 span{
 color: #0039B2;
}

.nav2 a:hover{
  background-color: #34B5E5;
}

.logo{
 margin: 0;
 vertical-align: bottom;
}
